<!DOCTYPE html>
<html>
  <head>
    <title>Freebees</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
     
    <script src="/app/app.js"></script>
    <script src="/app/controller.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf1G5t1UuG2K8QjjxMtog0M6fCR1EH5CQ&libraries=places&callback=loadAllItems"></script>
  </head>
  <body id="#" ng-app="myApp" ng-controller="FormController">
    <nav class="navbar-fixed">
     <div id="headerSection" class="container-fluid">
      <ul>
        <li><img id="beeIcon" src="bee1resize.png"></li>
        <li><a href="#" id="logoTitle">Freebees</a></li>
        <li><p>Find free stuff around you!<p></li>
        <li class="rightFloat"><a href="#" class="anchor">Forager</a></li>
        <li class="rightFloat"><a href="#inputSection" class="anchor">Giver</a></li>
      </ul>
      <div id="searchInput">
        <form novalidate>
          <input id="searchBox" placeholder="Search for an item" type="text" ng-model="search.input">
          <button class="yellowButton" id="searchBtn" ng-click="filterMap()" type="submit"><a href="#">Search</a></button>
        </form>
      </div>
     </div>
    </nav>
    <div id="map"></div>
    <div id="inputSection">
      <div id="inputForm">
    <div class="input-group">
<label>Select a date</label>  
    <div class="input-group">
     <input type="text" class="form-control" uib-datepicker="{{format}}" 
            name="dt" ng-model="formData.dt" is-open="datepickers.dt" 
            datepicker-options="dateOptions" ng-required="true" 
            close-text="Close" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open($event,'dt')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>  
      




        <form novalidate >
          <h2>Want to give away Stuff?</h2><br>
          <input placeholder="Your item" type="text" ng-model="user.item">

          <input placeholder="Your address" id="inputAddress" type="text" ng-model="user.location"><br>
          <button id="fillIp" type="submit" ng-click="ip()">Or use current location</button>
          
          <div class="spinner"><img src="loading.gif"></div><br><br>
            <button class="yellowButton submitForm" type="submit" ng-click="sendPost()" >
              <a href="#">Submit</a>
            </button>
            <button class="yellowButton submitForm" type="submit" ng-click="removePost()">
              <a href="#">Delete</a>
            </button>
        </form>

        <form novalidate>
          <h2>Need some Manual Labor?</h2><br>
          <input placeholder="eg. plumbing, carpentry, mechanic..." type='text' ng-model='user.worker'><br>
          <input placeholder="Your address" id="inputAddress" type="text" ng-model="user.location"><br>
          <button id="fillIp" type="submit" ng-click="ip()">Or use current location</button>

          <div class="spinner"><img src="loading.gif"></div><br><br>
            <button class="yellowButton submitForm" type="submit" ng-click="sendMPost()" >
              <a href="#">Submit</a>
            </button>
            <button class="yellowButton submitForm" type="submit" ng-click="removePost()">
              <a href="#">Delete</a>
            </button>
        </form>
        
      </div>
    </div>
    <div id="footerSection">
      
    </div>
  </body>
</html>
